{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block main %}
  {% if current_user.is_authenticated %}
    <h2 class="mb-5 mx-auto">Hello, {{ current_user.email }}</h2>
    <h3 class="mb-5 mx-auto"><a href="{{ url_for('groups') }}">Your groups</a></h3>
  {% else %}
  <p class="text-center">Split Bill is a simple and convenient app that allows you to easily split expenses with friends and family. Whether you're splitting a dinner bill, a rental bill, or any other type of shared expense, Split Bill makes it easy to keep track of who owes what, and to pay each other back. With a user-friendly interface and easy-to-use features, Split Bill is the perfect tool for managing shared expenses and keeping track of who owes what. <a href="{{ url_for('registration') }}">Create your account now</a> and start splitting bills with ease!</p>
  {% endif %}
{% endblock %}