{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block main %}
  {% if current_user.is_authenticated %}
    <h2 class="mb-5 mx-auto">Hello, {{ current_user.email }}</h2>
    <h3 class="mb-5 mx-auto"><a href="{{ url_for('groups') }}">Your groups</a></h3>
  {% else %}
  <p class="text-center">Share your bill with your team, and save some money wor better tomorow. <a href="{{ url_for('registration') }}">Create your acco and start splitting bills.</a>
  <div style="width: 200px; height: 200px; border-radius: 50%; overflow: hidden; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <a href="{{ url_for('home') }}">
      <img class="mx-auto d-block" src="https://s1.15min.lt/images/photos/2018/02/07/original/pensija-5a7afe261bde9.jpg" alt="logo" style="width: 100%; height: 100%; object-fit: cover;">
    </a>
  </div>
  
  {% endif %}
{% endblock %}