{% extends "base.html" %}

{% block title %}Request a new password{% endblock %}

{% block main %}
    <div class="content-section col-6 mx-auto">
        <form method="POST" action="{{ url_for('request_reset_password') }}">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Request a new password</legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <button class="btn btn-primary mt-3" type="submit">Send new password</button>
        </form>
    </div>
    <div class="col-6 mx-auto pt-3">
      <small class="text-muted">
        Don't have an account yet? <a class="ml-2" href="{{ url_for('registration') }}">Create new account</a>
      </small>
    </div>
{% endblock main %}